* {padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  background:transparent;
}

header {
  background-color: rgb(252, 252, 252);
  color: rgb(0, 0, 0);
  width: 100%;
}

header img {
  width: 100%;
  height: 150px;
}

#btn-menu {
  display: none;
}

header label {
  display: none;
  width: 30px;
  height: 30px;
  padding: 0;
}

header label:hover {
  cursor: pointer;
}

.menu ul {
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
  font-family: "Shadows Into Light", cursive;
}

.menu li {
  text-align: center;
  flex-grow: 1;
  font-size: 30px;
  border-radius: 10px;
}

.menu li:hover {
  background-color: rgb(224, 14, 14);
  box-shadow: 5px 10px 10px 2px #170709;
}

.menu li a {
  display: block;
  padding: 20px 20px;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

@media (max-width: 768px) {
  header label {
    display: block;
  }
  header img {
    height: 40%;
  }
  .menu {
    position: absolute;
    background:transparent;
    width: 50%;
    margin-left: -70%;
    transition: all 1s;
    z-index: 999;
  }
  .menu ul {
    
    flex-direction: column;
    border-radius: 0px;
  }
  .menu li {
    border-top: 1px solid rgb(0, 0, 0);
    margin: 10px; 
  }
.menu li a{
  color: white;
  font-size: 20px;
  background: black;
  border-radius: 10px;
  }
  .menu li a:hover {
    background-color: rgb(224, 14, 14);
    box-shadow: 5px 10px 10px 2px #555555;
    color:black;
    font-size:30px ;
  }
  
  #btn-menu:checked ~ .menu {
    margin: 0;
  }
}

h1 {
  font-family: "Shadows Into Light", cursive;
  margin: 0;
  padding: 0;
}
h2 {
  font-family: "Shadows Into Light", cursive;
}
h3 {
  font-family: "Shadows Into Light", cursive;
}

/*index*/
.navbar{
  margin: 0;
  padding: 0;
}
.nav-item #a{
  color: #ffffff;
}

.navbar-collapse{
  justify-content: end;
  font-size: 25px;
}
.nav-item #a:hover{
  transform: scale(1.2);
  color: rgb(13, 217, 244);
}
.navbar-nav{
  gap: 30px;
  color: white;
  font-family:"Shadows Into Light", cursive; ;
}

.container-fluid {
  margin: 0;
  background-color: rgb(139, 26, 26);
}
.navbar-brand img{
  height: 80px;
  width: 80px;
  border-radius: 70px;
}

.index_principal{
  background:url(../imagenes/28853.jpg) no-repeat ;
  background-size:cover;
  background-position:center  ;
  height:calc(100vh - 130px);
}
.titulo__index{
  content: "";
  height: 500px;
  width: 450px;
  top: 0;
  left: 0;
  background:url(../imagenes/logoteamvaldez\ original.jpg);
  background-repeat:no-repeat ;
  background-position:center ;
  border-radius: 50% 50% 50% 50%;
  opacity: 0.2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.titulo__index:hover{
  background: none; 
  opacity: 1;
  transition: all 3s;
}

.titulo__index div h1{
  color: rgb(0, 0, 0);
  font-size: 50px;
  font-family: 'Orbitron', sans-serif;
}
.titulo__index div p{
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-family: 'Orbitron', sans-serif;
}
@media screen and (max-width: 768px) {
  .titulo__index{
    height: 450px;
    width: 450px;
  }
  .nav-item #a:hover{
    animation:alternate;
    transform:none;
    color: rgb(13, 217, 244);
  }
  .titulo__index div h1{
    font-size: 40px;
    color: #000000;
  }
  .titulo__index div p{
    font-size: 17px;
  }
}


/*inscripciones__contactos*/
.contactos_body{ 
  margin: 0;
  padding: 0;
  background-color:white;
}
#inscripcion__completo h1{
  text-align: center;
  font-size: 50px;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  color: #555555;
  background-color: #7d0614;
  padding: 10px;
  text-shadow: 5px 5px 5px #000000;
  padding: 10px;
}

#inscripcion__completo {
  margin: 0;
  padding: 0;
  background: white;
  display: flex;
  flex-direction: column;
}
#inscripcion__completo h2 {
  color: aliceblue;
  font-size: 50px;
  text-decoration: underline;
}
#inscripcion__completo h3 {
  color: aliceblue;
  font-size: 20px;
  text-decoration: underline;
}
.inscripciones__p{
  text-align: center;
  font-family:  "Poppins", sans-serif;
  background-color: #7d0614;
  color: white;
  text-shadow: 5px 5px 5px #000000;
}
.inscripciones__p::first-letter{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 40px;
}

/*inscripciones_formulario*/

.inscripciones__completo {
  margin: 20px;
  padding: 10px;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}
.inscripciones__1 {
  margin: 0;
  display: flex;
  justify-content:space-evenly;
}
.video{
  margin: 9px;
  width: 450px;
  height: 500px;
  background: #929292;
  border-radius: 10px;
}
.video video{
  width: 440px;
  height: 500px; 
}
.inscripciones__promos {
  margin:10px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  width: 100%;
  height:auto;
  transform: scale(1,1);
}
.inscripciones__promos img {
  width: 95%;
  height: 100%;
  justify-content:space-evenly;
  transition: 0.3s ease-in-out;
  box-shadow: 0px 0px 10px 2px #2e2e2e;
}
.inscripciones__promos img:hover{
  transform: scale(1.1);
}


.inscripciones__formulario {
  color: rgb(255, 255, 255);
  background-image: url(../imagenes/mko3.jpg);
  background-position: center;
  background-size: cover;
  width: 450px;
  margin: 0;
  padding: 10px 20px;
  border: 5px inset black;
  height: 500px;
  font-family: "Poppins", sans-serif;
}
.nombre__apellido input {
  color: aliceblue;
  transition: all 1s;
}
.nombre__apellido input:focus {
  background-color: rgb(0, 0, 0);
  color: aliceblue;
  width: 300px;
  height: 20px;
}
.email__password input {
  color: aliceblue;
  transition: all 1s;
}
.email__password input:focus {
  background-color: rgb(0, 0, 0);
  color: aliceblue;
  width: 300px;
  height: 20px;
}
/*protocolo*/
.protocolo {
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  letter-spacing: 2px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border: #7d0614;
  animation-name: animacion-protocolo;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 20s;
  animation-delay: 3s;
}

@keyframes animacion-protocolo{
  0%{
    background-image: url(../imagenes/logoteamvaldez\ original.jpg);
    width: auto;
  background-position: center;
  }
  50%{
    background-image: url(../imagenes/protocolo.jpg);
    width: auto;
    background-position: center;
    color:white;
  }
  100%{
    background-color: #626262;
    width: auto;
    
  }

}
.protocolo h3 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img_protocolo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
}
.img_protocolo img {
  height: 500px;
  width: 500px;
  padding: 20px;
}
@media screen and (max-width: 768px) {
 
  .inscripciones__1{
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
  
  }
  
  .video{
    width: 430px;
  }
  .inscripciones__formulario{
    width: 100%;
  
  }
  .inscripciones__promos{
    width: 95%;
    gap: 10px;
    
  }
  .img_protocolo img {
    width: 450px;
    
  }
}

/*novedades*/

.body_novedades{
  background:#f4200d;
}
.body_novedades h3{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-family: 'Josefin Sans', sans-serif;
}
.animate__animated.animate__bounce {
  --animate-duration: 3s;
}

.novedades__caja h1{
  font-size: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #171313;
  margin: 10px;
 
}
.novedades__video{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;

}
.novedades__video div{
  margin: 10px;
  padding: 8px;
  background-color: black;
  color: #ffffff;
}
.novedades__video iframe{
  width: 100%;
  height: 400px;
}

.col-md-12 h4{
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #040202;
  font-family: 'Josefin Sans', sans-serif;
 
}
.novedades__video iframe:hover{
  transform: scale(1.1);
  box-shadow: 0px 0px 10px 8px #7d0614;

}
.torneos_latinos{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px;
  background: #0c0909;
  
}

.torneos_latino div{
  gap: 20px;
  justify-content: space-between;
  
}
.novedades__vdicomida{
  display: flex;
  flex-direction: column;
}
.novedades__comidas{
  display: flex;
  justify-content: center;
}

.novedades__comidas iframe:hover{
 transform: scale(1.1);
  box-shadow: 0px 0px 10px 8px #7d0614;
}
  
@media (max-width: 768px) {
  .novedades__video {
    display: flex;
    flex-direction: column;
  }
  .caja img{
    width: 90%;
    height: 90%;
  }
  .caja {
    display:flex ;
    flex-direction: column;
  }
 .novedades__comidas{
 display: flex;
 flex-direction: column;
 align-items: center;
 }
 
}
/*ubicacion*/
.body__ubi{
  background:linear-gradient(white,black);
}
.divubi{
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}
.mapa iframe{
 margin: 20px;
 padding: 20px;
 background:rgb(241, 96, 43);
}
.mapa iframe:hover{
  transform:scale(1.1);
  box-shadow: 0px 0px 10px 2px #060606;
  opacity: 1;
}
.calles{
  display:flex;
  justify-content: center;
}
.introubi{
  letter-spacing: 1px;
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  color: black;
}
.mapa h1{
  display: flex;
  justify-content: center;
  font-family: 'Orbitron', sans-serif;

}
.introubi p{ 
  letter-spacing: 4px;
  margin: 0;
 font-family: 'Josefin Sans', sans-serif;
 font-size: 18px;
}
.introubi p:hover{
  margin: 10px;
  box-shadow: 0px 0px 10px 2px #adacac;
  transition: 2s;
  background: #c2bebe;
  border-radius: 2% 2%;
  padding: 10px;
  margin: 0;
}
.foto__galeria{
  gap: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.foto__galeria img{
  height: 400px;
  width: 400px;
}
.foto__galeria img:hover{
  transform: scale(1.1);
  box-shadow: 0px 0px 10px 2px #ffffff;
  transition: 1s;
}

.foto__imagenmap{
 width:100%;
 height: 700px;
 display: flex;
 margin: 20px;
 gap: 40px;
}
.foto__imagenmap.fotos__infoteam{
  height: 400px;
}

.foto__mapita{
  display: flex;
  justify-content: center;
  margin: 30px;
  height: 700px;
}
.foto__mapita img{
  display: flex;
  height: 700px;
  width: 800px;
  gap: 30px;
  
}
.foto__mapita img:hover{
  box-shadow: 0px 0px 10px 2px #f1f0f0;
}
@media (max-width: 768px) {
  .mapa iframe{
    width: 300px;
    height: 400px;
    margin: 0;
  }
  .introubi p{
    margin: 0;

  }
  .foto__galeria{
    display: flex;
    flex-direction: column;
  }
  .foto__galeria img{ 
   gap: none;
   margin: auto 20px;
  }
  .foto__mapita{
    margin: 15px;
  }
  .foto__imagenmap{
    display: flex;
    flex-direction: column;
    margin: 0;
  }

}

footer{
  height: 30px;
  width: 100%;
  position: flex;
  color: aliceblue;
  background-color: #7d0614;
}
footer a{
list-style: none;
text-decoration: none;
color: white;
}